@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
}

body {
    display: flex;
}

.left {
    height: 100vh;
    width: 9vw;
    background-color: rgb(76 122 88);
}

.logo {
    height: 18vh;
    align-items: center;
    background-image: url(./assets/AKS_Logo_Portfolio_Transparent.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.logo:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s;
    filter: invert();
}

.line {
    border: 2px solid;
}

.left-links {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin: 110px 0;
}

.left-links img {
    height: 28px;
}

.left-links img:hover {
    cursor: pointer;
    transform: scale(1.3);
    transition: 0.3s;
    filter: invert();
}

.is-active img {
    transform: scale(1.2);
    transition: 0.3s;
    filter: invert();
    border-bottom: 2px solid black; 
    padding-bottom: 4px;
}

.right {
    height: 100vh;
    width: 91vw;
    display: flex;
    background-color: rgb(255 255 237);
}

.container {
    height: 80vh;
    width: 35vw;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 0 5vw;
    border-radius: 8%;
    background-color: white;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.489);
}

.container h1 {
    font-size: 2.5rem;
    margin: 20px;
    text-decoration: underline;
}

.contact-form form {
    display: block;
    justify-content: center;
    align-items: center;
}  

.contact-form input {
    margin: 3%;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid rgb(76 122 88);
}

.contact-form input:hover {
    border: 2px solid grey;
}

.contact-form textarea {
    width: 73%;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid rgb(76 122 88);
    resize: none;
}

.contact-form textarea:hover {
    border: 2px solid grey;
}

.contact-form button {
    background-color: rgb(76 122 88);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 50px;
}

.contact-form button:hover {
    background-color: rgba(76, 122, 88, 0.806);
    transform: scale(1.1);
    transition: 0.3s;
}

.contact-details {
    display: block;
    justify-content: center;
    align-items: center;
}

.contact-details a {
    text-decoration: none;
    color: rgb(76 122 88);
    font-size: 1.2rem;
}

.details {
    color: rgb(76 122 88);
    font-size: 1.2rem;
    margin-top: 10px;
}

.details:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s;
}

.details:hover a {
    text-decoration: underline;
}