@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
}

body {
    display: flex;
}

.left {
    height: 100vh;
    width: 9vw;
    background-color: rgb(76 122 88);
}

.logo {
    height: 18vh;
    align-items: center;
    background-image: url(./assets/AKS_Logo_Portfolio_Transparent.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.logo:hover {
    cursor: pointer;
    filter: invert();
}

.hamburger {
    height: 45px;
    width: 45px;
    background-color: rgb(76 122 88);
    border-radius: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
}

.hamburger img {
    height: 30px;
}

.hamburger img:hover {
    filter: invert();
    transform: scale(1.1);
    transition: 0.3s;
}

.left-links {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 110px 0;
    border-top: 2px solid;
}

.left-links img {
    height: 28px;
}

.left-links img:hover {
    cursor: pointer;
    transform: scale(1.3);
    transition: 0.3s;
    filter: invert();
}

.is-active img {
    transform: scale(1.2);
    transition: 0.3s;
    filter: invert();
    border-bottom: 2px solid black;
    padding-bottom: 4px;
}

.right {
    height: 100vh;
    width: 91vw;
    display: flex;
    background-color: rgb(255 255 237);
}

.section-1 {
    height: 100vh;
    width: 43vw;
}

.container-sec1 {
    height: 60%;
    width: 65%;
    border-radius: 50%;
    background-image: url(./assets/pic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-top: 150px;
    margin-left: 150px;
    box-shadow: 20px 20px 40px rgba(22, 23, 22, 0.872);
}

.section-2 {
    height: 100vh;
    width: auto;
}

.container-sec2 {
    width: 40vw;
    margin-top: 220px;
    margin-left: 113px;
    text-align: justify;
}

.hero-text {
    display: block;
    justify-content: center;
    align-items: center;
}

.hero-text h1 {
    padding: 30px 0;
    font-size: 50px;
}

.hero-text div {
    font-size: 22px;
}

.buttons {
    display: flex;
    align-items: center;
    margin-top: 35px;
}

.resume {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume button {
    background-color: rgb(76 122 88);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
}

.resume button:hover {
    background-color: rgba(76, 122, 88, 0.806);
    transform: scale(1.1);
    transition: 0.3s;
}

.resume button a {
    text-decoration: none;
    color: rgb(255 255 237);
}

.btn-1 {
    height: 30px;
    width: 30px;
    border: none;
    margin-left: 50px;
    cursor: pointer;
}

.btn-1:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.btn-1 img {
    height: 30px;
    width: 30px;
}

.btn-2 {
    height: 30px;
    width: 30px;
    border: none;
    margin-left: 15px;
    cursor: pointer;
}

.btn-2:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.btn-2 img {
    height: 30px;
    width: 30px;
}


@media (max-width: 480px) and (min-width: 320px) {
    body {
        display: block;
    }

    .left {
        height: 15vh;
        width: auto;
    }

    .logo {
        height: 15vh;
    }

    .hamburger {
        display: flex;
        position: absolute;
        right: 10px;
        top: 22px;
    }

    .left-links {
        width: 30vw;
        position: absolute;
        left: -100%;
        background-color: rgb(76 122 88);
        z-index: 10;
        transition: all .3s;
    }

    .right {
        height: 109vh;
        width: auto;
        display: block;
    }

    .section-1 {
        height: 53vh;
        width: auto;
        position: relative;
    }

    .container-sec1 {
        margin-top: 0;
        margin-left: 0;
        height: 75%;
        width: 65%;
        position: absolute;
        left: 64px;
        top: 31px;
    }

    .section-2 {
        height: 45vh;
        width: auto;
    }

    .container-sec2 {
        width: auto;
        padding: 0 15px;
        margin: 0;
        text-align: justify;
    }

    .hero-text h1 {
        padding: 15px 0;
    }

    .hero-text h1 span {
        font-size: 26px;
    }

    .hero-text div {
        font-size: 18px;
        text-align: left;
    }

    .button {
        padding-bottom: 17px;
    }
}

@media (min-width: 750px) and (max-width: 1023px) {
    body {
        display: block;
    }

    .left {
        height: 15vh;
        width: auto;
    }

    .logo {
        height: 15vh;
    }

    .hamburger {
        display: flex;
        position: absolute;
        right: 10px;
        top: 20px;
    }

    .left-links {
        width: 30vw;
        position: absolute;
        left: -100%;
        background-color: rgb(76 122 88);
        z-index: 10;
        transition: all .3s;
    }

    .right {
        height: auto;
        width: auto;
        display: block;
    }

    .section-1 {
        height: 45vh;
        width: auto;
        position: relative;
    }

    .container-sec1 {
        margin-top: 0;
        margin-left: 0;
        height: 85%;
        width: 28%;
        position: absolute;
        left: 37vw;
        top: 31px;
        background-position: center;
    }

    .section-2 {
        height: 40vh;
        width: auto;
        padding: 0 40px;
    }

    .container-sec2 {
        width: auto;
        padding: 0 15px;
        margin: 0;
        text-align: justify;
    }

    .hero-text h1 {
        padding: 10px 0;
    }

    .hero-text h1 span {
        font-size: 35px;
    }

    .hero-text div {
        font-size: 16px;
        text-align: justify;
    }

    .buttons {
        margin-top: 20px;
    }
}

/* @media screen and (min-width: 1024px) {
    .container-sec1 {
        margin-left: 115px;
    }

    .container-sec2 {
        margin-top: 200px;
        margin-left: 63px;
    }

    .hero-text h1 {
        padding: 30px 0;
        font-size: 37px;
    }

    .hero-text div {
        font-size: 16px;
    }
} */